services:
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME:-molbhav}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD:-molbhav_secret}
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: >
      redis-server --requirepass ${REDIS_PASSWORD:-redis_secret}

volumes:
  mongo_data:
